<div id="divGlobal">
    <div id="divAgregarTabla">
        <div id="divAgregar">
            <h1 class="titleAddProd">Agregar un producto</h1>
            <div id="form">
                <input type="text" name="title" id="title" placeholder="Title">
                <input type="number" name="price" id="price" placeholder="Price">
                <input type="text" name="thumbnail" id="thumbnail" placeholder="Link imagen">
                <button type="submit" id="agregarProducto">Enviar</button>
            </div>
        </div>
        <div id="divTabla">
            <h1 class="titleViewProd">Tus productos</h1>
            <table id="tablaProds">

            </table>  
        </div>
    </div>
    <div id="divMensajes">
        <input type="text" name="mensaje" id="InpMensaje">
        <button id="enviar">Enviar</button>
        <div id="contMensajes"></div>
    </div>
</div>